.bg-white { background-color: white; }
.bg-light { background-color: #f3f4f6; }
.bg-dark { background-color: #1f2937; }

.text-white { color: white; }
.text-black { color: black; }
.text-gray { color: #6b7280; }
.text-blue { color: royalblue; }
