.d-block { display: block; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-flex { display: flex; }
.d-none { display: none; }

.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }

.justify-center { justify-content: center; }
.items-center { align-items: center; }
